{% extends "mrreporting/base.html" %}
{% block content %}

<div class="container">
    <div class="col-lg-8 offset-md-2">
        <h1 class="mb-4">Module Registration Services - About</h1>
    </div>
    <div class="col-md-8 offset-md-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Amet justo donec enim diam vulputate ut pharetra. Sociis natoque penatibus et magnis dis parturient montes. Leo vel orci porta non pulvinar. Ut diam quam nulla porttitor massa. Iaculis eu non diam phasellus. Scelerisque fermentum dui faucibus in ornare. In aliquam sem fringilla ut. Hendrerit gravida rutrum quisque non tellus. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Sem integer vitae justo eget magna fermentum iaculis. Orci eu lobortis elementum nibh tellus. Augue ut lectus arcu bibendum. Rhoncus mattis rhoncus urna neque viverra. Tristique sollicitudin nibh sit amet commodo. Nunc sed augue lacus viverra vitae. Mauris augue neque gravida in fermentum et sollicitudin. Mauris augue neque gravida in.</p>

        <p>Eget magna fermentum iaculis eu non diam phasellus vestibulum. Massa massa ultricies mi quis. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Proin sagittis nisl rhoncus mattis rhoncus. Odio eu feugiat pretium nibh. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Augue eget arcu dictum varius duis at consectetur lorem. In cursus turpis massa tincidunt dui ut. Pellentesque diam volutpat commodo sed egestas. Et molestie ac feugiat sed lectus. Sed odio morbi quis commodo. Lorem sed risus ultricies tristique nulla aliquet. Massa sapien faucibus et molestie ac feugiat sed lectus. Nulla facilisi cras fermentum odio.</p>

    </div>
</div>

{% endblock content %}
